@import "compass/utilities.scss";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/layout.scss";

@import "_grid.scss";

$color: #3c3c3c;
$light_grey: #eaeaea;
$lighter_grey: #ededed;
