/* @author Valentin Vago
 * @description Style */
/* Global reset */
/* line 6, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff; }

/* line 23, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none; }

/* line 4, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

/* line 7, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
a:focus {
  outline: 1px dotted invert; }

/* line 10, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0; }

/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h1 {
  font-size: 25px; }

/* line 20, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h2 {
  font-size: 23px; }

/* line 23, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h3 {
  font-size: 21px; }

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h4 {
  font-size: 19px; }

/* line 29, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h5 {
  font-size: 17px; }

/* line 32, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
h6 {
  font-size: 15px; }

/* line 35, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
ol {
  list-style: decimal; }

/* line 38, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
ul {
  list-style: square; }

/* line 41, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
li {
  margin-left: 30px; }

/* line 44, ../../../../../../../../var/lib/gems/1.8/gems/compass-960-plugin-0.9.11/sass/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px; }

/* line 16, ../sass/happytheme/style.sass */
table {
  width: 100%; }
  /* line 18, ../sass/happytheme/style.sass */
  table tr.even {
    background-color: #f7f7f7; }
  /* line 20, ../sass/happytheme/style.sass */
  table tr.odd {
    background-color: #fafafa; }
    /* line 22, ../sass/happytheme/style.sass */
    table tr.odd td {
      background: none; }
  /* line 25, ../sass/happytheme/style.sass */
  table td {
    padding: .1em; }

/* line 28, ../sass/happytheme/style.sass */
#page {
  color: #666;
  width: 90%;
  min-width: 960px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 36, ../sass/happytheme/style.sass */
  #page a, #page a:link, #page a:hover, #page a:visited {
    line-height: 1.3em;
    color: #5599dd;
    display: inline;
    display: inline-block;
    padding: 0 .1em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none; }
    /* line 44, ../sass/happytheme/style.sass */
    #page a a:hover, #page a:link a:hover, #page a:hover a:hover, #page a:visited a:hover {
      text-decoration: underline; }

/* line 47, ../sass/happytheme/style.sass */
#page-content, #sidebar-left {
  float: left;
  position: relative;
  display: inline;
  display: inline-block; }

/* line 53, ../sass/happytheme/style.sass */
#page-content {
  width: 85%;
  float: right; }

/* line 57, ../sass/happytheme/style.sass */
#sidebar-left {
  width: 15%; }
