/* @author Valentin Vago
 * @description Style */

@import "_base.scss";
@import "_messages.scss";

/*
@include font-face("Blooming Grove", font-files("bgrove.ttf", truetype, "bgrove.otf", opentype));
*/

@include font-face("Mplus Regular", font-files("mplus-TESTFLIGHT-032/mplus-2c-regular.ttf", truetype));
@include font-face("Mplus Thin", font-files("mplus-TESTFLIGHT-032/mplus-2c-thin.ttf", truetype));


body {
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #848484;
  font-family: "Mplus Regular";
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Mplus Thin";
}

h1 {
  font-size: 4.231em;
  padding: 1.382em 0;
}

h2 {
  font-size: 2.615em;
  padding: 1.372em 0;
}

h3 {
  font-size: 1.615em;
  padding: 1.397em 0;
}

dd {
  margin: 1.125em 1em 2em 2.5em;
}
  
a{
  color: #3f3f3f;
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active, &.active {
    color: #000;
    text-decoration: underline;
  }
}
  

#header-wrapper {
  #logo-title {
    @include float-left;
  }
  #search-box {
    @include float-right;
  }
  overflow: hidden;
  padding: 1em;
}

#footer-wrapper {
  @include box-shadow(#000, 0px, 9px, 30px, -9px, inset);
  background-color: #cfcfcf;
}

@include status-messages;

/* this should come at the end */
.ui-datepicker-cover {
  display: none;
  display/**/: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 200px;
  height: 200px; }
