.form-textarea,.form-text,.form-submit,.form-button,.form-select {
  background-color: #FFFFFF;
  border-color: #EEEEEE #EEEEEE #6B380E;
  border-style: solid;
  border-width: 1px 1px 0.2em;
  color: #6B380E;
}


.resizable-textarea .form-textarea{
  border-bottom-width:0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  
}
.resizable-textarea .grippie{
  background-color:#6B380E;
  border-color:#6B380E;
  border-width:0 1px 1px 1px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  
}

.form-text,
.form-submit,
.form-button,
fieldset,
textarea,
.form-select,
.messages,
#desctip {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.form-submit,.form-button {
  cursor: pointer;
  font-weight: bolder;
  text-align:center;
  padding:0 3px;
  -moz-border-radius:2px;
  border-radius:2px;
  -moz-outline-radius:3px;
  outline-radius:3px;
  color:#6B380E;
  margin:1px;
  
  border-width:1px;
  border-style:solid;
  border-color:#ffffff #6B380E #6B380E #ffffff;
  outline: #999999 solid 1px;
  background-color:#C9ECFF;
}

.form-submit:hover,.form-button:hover{
  color:#ffffff;
  border-color:#000000 #ffffff #ffffff #000000;
  background-color:#6B380E;
}

fieldset {
  border: 1px solid #6B380E;
  margin: 0.5em;
  padding: 0.5em;
}

/* The options are buggy under FF3 Linux, trying to fix this... in vain... :( */
option:checked, option[seleted=selected], option:focus, * option:checked, * option[seleted=selected], * option:focus{
  background-color: #C9ECFF !important;
  color: #6B380E !important;
}