div.messages {
    padding: 9px;
    margin: 0px 0px 10px;
    color: #036;
    background: #bdf;
    border: 1px solid #aaccee;
}

div.warning {
    color: #840;
    background: #fe6;
    border-color: #ed5;
}

div.error {
    color: #fff;
    background: #e63;
    border-color: #d52;
}

div.status {
    color: #360;
    background: #cf8;
    border-color: #bbee77;
}